.card {
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff; 
    transition: transform 0.3s;
  }
  
  .card:hover {
    transform: scale(1.05); 
  }
  
  .container {
    min-height: 100vh;
    background-image: url("https://wallpapers.com/images/featured/art-dajgwkpkb3im2q3u.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .title {
    text-align: center;
    margin-bottom: 20px;
    color: #1890ff;
  }
  
  .form-button {
    width: 100%;
  }
  

  .ant-input:focus {
    border-color: #1890ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
  
  .ant-btn-primary:hover {
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
  }

  
  