.submenu {
   width: 110px;text-align: center;
}
.submenu p{
   font-size:1rem;
   font-weight: 600;
   color: #1f2230;
    padding: 5px;
   margin-bottom: 5px;
   transition: all .2s ease-in-out;
   cursor: pointer;
}
.submenu p:hover{
    border-radius: 5px;
    background-color: #dcebfd;
    box-shadow: 5px 3px 40px rgba(0,72,88,.1);
}